<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAK6zYpYkZL9AnXyGX0iQ05wEJLaF15L8I</string>
	<key>GCM_SENDER_ID</key>
	<string>710751253748</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dsn.myinvite.android.app</string>
	<key>PROJECT_ID</key>
	<string>myinvite-1b0ca</string>
	<key>STORAGE_BUCKET</key>
	<string>myinvite-1b0ca.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:710751253748:ios:0a62cf3db48bdda5abdaa1</string>
</dict>
</plist>